---
Checks:            '-*,bugprone-argument-comment,bugprone-redundant-branch-condition,bugprone-shared-ptr-array-mismatch,bugprone-sizeof-container,bugprone-sizeof-expression,bugprone-unique-ptr-array-mismatch,bugprone-unsafe-functions,cppcoreguidelines-avoid-c-arrays,cppcoreguidelines-avoid-do-while,cppcoreguidelines-avoid-goto,cppcoreguidelines-c-copy-assignment-signature,misc-redundant-expression,modernize-deprecated-headers,modernize-make-shared,modernize-make-unique,modernize-redundant-void-arg,modernize-return-braced-init-list,modernize-use-nullptr,modernize-use-override,modernize-use-ranges,modernize-use-scoped-lock,modernize-use-trailing-return-type,modernize-use-using,readability-braces-around-statements,readability-redundant-casting,readability-redundant-declaration,readability-redundant-inline-specifier,readability-redundant-parentheses,readability-redundant-preprocessor,readability-redundant-smartptr-get,readability-redundant-string-cstr,readability-redundant-string-init'
WarningsAsErrors:  ''
HeaderFilterRegex: '.*'
FormatStyle:       'file'
User:              neptune
